<%= form_for @user do |f| %>  
  <div class="form-group">  
    <P>Administering Medications </p>
    <%= f.radio_button :administering_medications, "1"  %>

    <%= f.radio_button :administering_medications, "0"  %>

    <p>observing_patients_over_time</p>
    <%= f.radio_button :observing_patients_over_time, "1"  %>

    <%= f.radio_button :observing_patients_over_time, "0"  %>

    <p>changing_dressings</p>
    <%= f.radio_button :changing_dressings, "1"  %>

    <%= f.radio_button :changing_dressings, "0"  %>
    
    <p>taking_and_recording_vitals</p>
    <%= f.radio_button :taking_and_recording_vitals, "1"  %>

    <%= f.radio_button :taking_and_recording_vitals, "0"  %>
    
    <p> bathing_patients_and_taking_care_of_basic_hygiene</p>
     <%= f.radio_button :bathing_patients_and_taking_care_of_basic_hygiene, "1"  %>

    <%= f.radio_button :bathing_patients_and_taking_care_of_basic_hygiene, "0"  %>

    <p>running_errands_with_a_client</p>
    <%= f.radio_button :running_errands_with_a_client, "1"  %>

    <%= f.radio_button :running_errands_with_a_client, "0"  %>

    <p>having_compassion</p>
    <%= f.radio_button :having_compassion, "1"  %>

    <%= f.radio_button :having_compassion, "0"  %>

    <p>following_directions_precisely</p>
    <%= f.radio_button :following_directions_precisely, "1"  %>

    <%= f.radio_button :following_directions_precisely, "0"  %>

    <p>managing_emergency_situations</p>
    <%= f.radio_button :managing_emergency_situations, "1"  %>

    <%= f.radio_button :managing_emergency_situations, "0"  %>

    <p>communicating_effectively</p>
    <%= f.radio_button :communicating_effectively, "1"  %>

    <%= f.radio_button :communicating_effectively, "0"  %>

    <p>filing_series_of_paperwork</p>
    <%= f.radio_button :filing_series_of_paperwork, "1"  %>

    <%= f.radio_button :filing_series_of_paperwork, "0"  %>

    <p>using_a_pallet_jack_penumatic_ladder_or_a_fork_lift</p>
    <%= f.radio_button :using_a_pallet_jack_penumatic_ladder_or_a_fork_lift, "1"  %>

    <%= f.radio_button :using_a_pallet_jack_penumatic_ladder_or_a_fork_lift, "0"  %>

    <p>properly_handling_hazardous_materials</p>
    <%= f.radio_button :properly_handling_hazardous_materials, "1"  %>

    <%= f.radio_button :properly_handling_hazardous_materials, "0"  %>

    <p>warehouse_safety_precautions</p>
    <%= f.radio_button :warehouse_safety_precautions, "1"  %>

    <%= f.radio_button :warehouse_safety_precautions, "0"  %>

    <p>organizing_merchandise</p>
    <%= f.radio_button :organizing_merchandise, "1"  %>

    <%= f.radio_button :organizing_merchandise, "0"  %>

    <p>working_with_a_goods_retrieval_system</p>
    <%= f.radio_button :working_with_a_goods_retrieval_system, "1"  %>

    <%= f.radio_button :working_with_a_goods_retrieval_system, "0"  %>

    <p>interacting_with_customers</p>
    <%= f.radio_button :interacting_with_customers, "1"  %>

    <%= f.radio_button :interacting_with_customers, "0"  %>

    <p>standing_for_extended_periods_of_time</p>
    <%= f.radio_button :standing_for_extended_periods_of_time, "1"  %>

    <%= f.radio_button :standing_for_extended_periods_of_time, "0"  %>

    <p>performing_physically_dexterous_or_demanding_tasks</p>
    <%= f.radio_button :performing_physically_dexterous_or_demanding_tasks, "1"  %>

    <%= f.radio_button :performing_physically_dexterous_or_demanding_tasks, "0"  %>

    <p>basic_computer_proficiency</p>
    <%= f.radio_button :basic_computer_proficiency, "1"  %>

    <%= f.radio_button :basic_computer_proficiency, "0"  %>


  </div>  
  <div class="form-group">
    <%= hidden_field_tag "id", current_user.id %>
    <%= f.submit "Submit" ,:class=>"btn btn-primary"%>
  </div>  
<% end %> 
